---
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

---
<Layout title='Blog'>
    <div data-theme="light" class="w-2/3 m-auto bg-slate-300 rounded-xl p-1 shadow-lg">
        <p  class=" font-bold font-mono  text-center   ">Working in this section...</p>
    </div>
    <main>
        <section>
           <a href="./blog/products">bloglink example</a>
        </section>
    </main>
 
</Layout>