---
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

---
<Layout title='Blog'>
    <main>
        <section>
           <a href="./blog/products">bloglink example</a>
        </section>
    </main>
 
</Layout>