<section>
    <p class="border-b-2 w-11 font-bold text-base md:text-lg md:w-14">About</p>

    <div class="m-2 text-sm md:text-lg text-justify">
        I am a programming student passionate about web development. I love creating dynamic, interactive and responsive websites with technologies like 
        <span style="color: rgb(167, 87, 242); font-weight: bold;">Blazor</span>, ASP.NET and <span style="color: rgb(80, 91, 190);font-weight: bold;">C#</span>.  
        I consider myself a creative, responsible person and open to new ideas. I am looking for an opportunity to gain professional experience and learn from the best in the industry. I would like to be part of a team that shares my passion for code and helps me grow as a programmer.
    </div>
</section>