<p class="border-b-2 w-11 font-bold text-base md:text-lg md:w-14 mt-6">Bio</p>
<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical text-sm md:text-lg">
    <li>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-start md:text-end mb-10">
        <time class="font-mono italic">2001</time>
        <div class="text-lg font-black">Born in Buenos Aires  Argentina [🇦🇷].</div>
        I am currently living here.
      </div>
      <hr/>
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2022</time>
        <div class="text-lg font-black">Cannadian Academy</div>
        I finish my English studies at an academy which certifies me with a B2 level of English</div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-start md:text-end mb-10">
        <time class="font-mono italic">2022</time>
        <div class="text-lg font-black">Anglia</div>
        I've achieved the following qualification <span class="font-bold">AIM Qualifications Level 1 Certificate in ESOL International (B2) (Anglia Advanced)</span>
    </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">2023</time>
        <div class="text-lg font-black">UTN FRGP</div>
        I am finishing my studies as a university technician in programming, at the national technological university</div>
      <hr />
    </li>
    
  </ul>