---
import Layout from '../../layouts/Layout.astro';
import Item from '../../components/WorkItem.astro';
---
<Layout title='Work' >
    <div data-theme="light" class="w-2/3 m-auto bg-slate-300 rounded-xl p-1 shadow-lg">
        <p  class=" font-bold font-mono  text-center   ">Working in this section...</p>
    </div>

    
    <section class="flex flex-wrap gap-3 mt-3">
        <Item/>
        <Item/>
        <Item/>
        <Item/>
        
    </section>
   
</Layout>